@import '../../styles/animations';

.error {
  color: var(--input-label);
  text-align: center;
  margin-top: 20px;
  .heading svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
    path {
      fill: var(--input-error)
    }
  }
  .desc {
    font-size: 14px;
    padding: 10px 50px 0;
  }
}

.loading {
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

canvas {
  transform: scaleX(-1); // mirror image
  object-fit: contain;
}

.overlay {
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: background-color 1s ease-out;
  fill: var(--qr-scan-secondary);
  animation: pulsate 2s infinite;
  top: 0;
  width: 100%;

  &[data-active=true] {
    fill: var(--qr-scan-primary);
    animation: flash 500ms ease-out;
  }
}
@keyframes flash {
  10% {
    background-color: rgba(255,255,255,0.8);
  }
  from, to {
    background-color: rgba(255,255,255,0);
  }
}

@keyframes pulsate {
  70% {
    opacity: 0.6;
  }
  from, to {
    opacity: 0;
  }
}
