.error {
  color: var(--input-label);
  text-align: center;
  .heading svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
    path {
      fill: var(--input-error)
    }
  }
  .desc {
    font-size: 14px;
    padding: 10px 50px 0;
  }
}
canvas {
  transform: scaleX(-1)
}
canvas.active {
  animation: pulse 2s infinite;
}
canvas.paused {
  box-shadow: 0 0 0 6px #{'rgba(var(--qr-scan-primary-rgb),0.5)'};
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #{'rgba(var(--qr-scan-primary-rgb),0.6)'};
  }
  70% {
      box-shadow: 0 0 0 10px #{'rgba(var(--qr-scan-primary-rgb),0)'};
  }
  100% {
      box-shadow: 0 0 0 0 #{'rgba(var(--qr-scan-primary-rgb),0)'};
  }
}
